<div class="d-flex align-items-center justify-content-center w-100">
  <div class="blog-container">
    <div class="d-flex flex-row">
      <div class="entry-container">
        <app-blog-entry [blog]="blog" class="entry"></app-blog-entry>
      </div>
      <div class="scroller-container sticky-top pt-4">
        <app-blog-scroller
          class="w-100"
          [headings]="headings"
          [activeHeadingId]="activeHeadingId ?? ''"
        ></app-blog-scroller>
      </div>
    </div>
  </div>
</div>
