.scrollspy-nav {
  padding: 0;

  li {
    box-shadow: inset 5px 0 0 var(--primary-main);
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    list-style: none;
    padding: 4px 0 4px 16px;
    transition: all 0.3s;

    &:not(.active) {
      font-weight: 400;
      box-shadow: inset 2px 0 0 var(--accent-main);
      color: unset;

      a {
        opacity: 0.5;
      }
      a:hover {
        opacity: 0.7;
        font-weight: 500;
      }
    }

    > a,
    > a:active,
    > a:focus,
    > a:hover {
      text-decoration: none !important;
      color: unset;
    }
  }
}
